<div class="login-box">
    <form class="login-form" action="/" method="POST">
       <h1>Welcome</h1>
       <input class="input" type="text" name="email" id="Email" placeholder="email">
       <input class="input" type="password" name="password" id="Possword" placeholder="password">
       <input class="login-btn" type="submit" value="login">
    </form>
</div>